<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <a href="./">
            <img src="https://www.pngkit.com/png/detail/116-1169804_shopping-cart-png-image-black-and-white-shopping.png"
                width="50px" alt="logo" class="d-inline-block align-text-top me-3 header__img" />
        </a>
    </div>
    <div class="d-flex collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav align-items-center header__lista">
            <li class="nav-item ms-3 header__item">
                <a class="nav-link" href="./">Inicio</a>
            </li>
            <li class="nav-item ms-3 header__item">
                <a class="nav-link" href="./realTimeProducts">RealTime</a>
            </li>
            <li class="nav-item ms-3 header__item">
                <a class="nav-link active" href="./form-products">Cargar</a>
            </li>
            <li class="nav-item ms-3 header__item">
                <a class="nav-link" href="./chat">Chat</a>
            </li>
        </ul>
    </div>
</nav>



<h1 class="text-center">Carrito</h1>

<div>
    <div style="display: flex; flex-wrap: wrap; justify-content: center;">
        {{#each carts.products}}
        <div class="card" style="margin: 10px 100px">
            <div class="card-body">
                <img src={{pid.thumbnail}} width="400px" alt="img - {{pid.thumbnail}}">
                <div class="card-body">
                    <p class="card-title">Titulo: {{pid.title}}</p>
                    <p class="card-text">ID: {{pid._id}}</p>

                    <p class="card-text">Descripción: {{pid.description}}</p>
                    <p class="card-text">Precio: ${{pid.price}}</p>

                    <p class="card-text"></p>Cod: {{pid.code}}</p>
                    <p class="card-text"></p>Stock: {{pid.stock}}</p>
                    <p class="card-text"></p>Categoria: {{pid.category}}</p>

                    <p class="card-text">Cantidad: {{quantity}}</p>

                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>