<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <a href="./">
            <img src="" width="50px" alt="logo"
                class="d-inline-block align-text-top me-3 header__img" />
        </a>
    </div>
    <div class="d-flex collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav align-items-center header__lista">
            <li class="nav-item ms-3 header__item">
                <a class="nav-link active" href="./">Inicio</a>
            </li>
            <li class="nav-item ms-3 header__item">
                <a class="nav-link" href="./realTimeProducts">RealTime</a>
            </li>
            <li class="nav-item ms-3 header__item">
                <a class="nav-link" href="./form-products">Cargar</a>
            </li>
            <li class="nav-item ms-3 header__item">
                <a class="nav-link" href="./chat">Chat</a>
            </li>
        </ul>
    </div>

 
     <ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
				<a href="#" data-toggle="dropdown" class="dropdown-toggle user-action"><img src="https://toppng.com/public/uploads/preview/user-account-management-logo-user-icon-11562867145a56rus2zwu.png" class="avatar" alt="Avatar"> {{this.first_name}} {{this.last_name}} <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="#"><i class="fa fa-user-o"></i>  {{user.first_name}} {{user.last_name}}</a></li>
					<li><a href="#"><i class="fa fa-calendar-o"></i>  {{user.email}}</a></li>
					<li><a href="#"><i class="fa fa-sliders"></i> {{user.age}}</a></li>
					<li class="divider"></li>
					<button id="logoutButton">Logout</button>
                    
				</ul>
			</li>
            
	</ul>
</nav>

<br>

 

<h3>Bienvenido al sistema {{user.first_name}} {{user.last_name}}</h3>



<h1 class="text-center">Lista de productos asincronos</h1>

<div>
    <div style="display: flex; flex-wrap: wrap; justify-content: center;">
        {{#each products}}
        {{#if this.status}}
        <div class="card" style="margin: 10px 100px">
            <img src={{this.thumbnail}} width="200px" alt="img - {{this.thumbnail}}">
            <div class="card-body">
                <p class="card-title">{{this.category}} - {{this.title}}</p>
                 <p class="card-text">{{this.price}}</p>
                <p class="card-text">{{this.description}}</p>
                <button type="button" class="btn btn-primary">Info</button>
            </div>
        </div>
        {{/if}}
        {{/each}}
    </div>

    <div>
        {{#if hasPrevPage}}
            <a href="{{prevLink}}"><p style="text-align:center">Anterior</p></a>
        {{/if}}
        {{#if hasNextPage}}
            <a href="{{nextLink}}"><p style="text-align:center">Siguiente </p></a>
        {{/if}}
    </div>
</div>   

<script>
const logoutButton = document.getElementById('logoutButton');
    
if(logoutButton) {
    logoutButton.addEventListener('click',async () => {
        try {
            const response = await fetch('/api/session/logout', {
                method:'DELETE',
            });
            
            if (response.ok){
                console.log("redirigiendo");
                window.location.href='/login';
            } else {
                console.log('Error al cerrar sesión');
            }

        
        }catch (error){
            console.log('Error al comunicarse con el servidor:', error);
        }
    })
       
}else{
        console.log("no existe");
} 


</script>