
    <div class="breadcrumb" role="navigation" aria-label="Breadcrumbs">
        <div class="_cont">
            <ol>
                <li><a title="Back to the frontpage">Home</a></li>
                <li><a title="">Products</a></li>
            </ol>
        </div>
    </div>
</header>

<h3>Bienvenido al sistema {{user.first_name}} {{user.last_name}}</h3>

<section class="homestaticbanner" style="margin-top:px;" data-nv-seq="0">
    <div class="cols" style="padding-top: 50px;">

    </div>

    <div class="left-col">
        <div class="thumbs">

        </div>


        <div class="wrapper fadeInDown">
            <div id="formContent">



                <form action="#">
                    <br>
                    <br>
                    <div>
                        <label for="lang">Category
                            <select name="lenguajes" id="lang">
                                <option value="OPCION1">OPCION1</option>
                                <option value="OPCION2">OPCION2</option>

                            </select>
                        </label>
                        <label for="lang">Sort by price
                            <select name="lenguajes" id="lang">
                                <option value="OPCION1">OPCION1</option>
                                <option value="OPCION2">OPCION2</option>

                            </select>
                        </label>
                    </div>
                    <input type="button" value="Filter" />
                    <input type="button" value="Return" />
                </form>


            </div>
        </div>

        <figure class="snip1249">
            <div class="image">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample90.jpg" alt="sample90" /><i
                    class="ion-ios-basketball-outline"></i>
            </div>
            <figcaption>


{{#each products.docs}}
        {{#if this.status}}

<img src={{this.thumbnail}} width="200px" alt="img - {{this.thumbnail}}">
            <div class="card-body">
                <p class="card-title">{{this.category}} - {{this.title}}</p>
                 <p class="card-text">{{this.price}}</p>
                <p class="card-text">{{this.description}}</p>
                <button type="button" class="btn btn-primary">Info</button>


 </div>
        </div>
        {{/if}}
        {{/each}}
    </div>

    <div>
        {{#if hasPrevPage}}
            <a href="{{prevLink}}"><p style="text-align:center">Anterior</p></a>
        {{/if}}
        {{#if hasNextPage}}
            <a href="{{nextLink}}"><p style="text-align:center">Siguiente </p></a>
        {{/if}}
    </div>
</div>   

                <h3>Producto</h3>
                <p>Detalle</p>
                <div class="price">
                    $14.00
                </div>
                <a href="#" class="add-to-cart">Add to Cart</a>
            </figcaption>
        </figure>

    </div>

<script>

    console.log({{products.docs}})

const logoutButton = document.getElementById('logoutButton');
    
if(logoutButton) {
    logoutButton.addEventListener('click',async () => {
        try {
            const response = await fetch('/api/session/logout', {
                method:'DELETE',
            });
            
            if (response.ok){
                console.log("redirigiendo");
                window.location.href='/login';
            } else {
                console.log('Error al cerrar sesión');
            }

        
        }catch (error){
            console.log('Error al comunicarse con el servidor:', error);
        }
    })
       
}else{
        console.log("no existe");
} 

</script>