<nav
  class="navbar navbar-expand-lg navbar-dark bg-primary"
  style="padding: 10px 20px;"
>
  <div class="container-fluid">
    <a href="/">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="2em"
        viewBox="0 0 576 512"
      >
        <!-- Tu logotipo o icono aquí -->
      </svg>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="2rem"
              viewBox="0 0 512 512"
            >
              <!-- Icono y texto de Menage -->
            </svg>
            <p>Home</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/api/products/realTimeProducts">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="2rem"
              viewBox="0 0 512 512"
            >
              <!-- Icono y texto de Menage -->
            </svg>
            <p>Manage</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/api/chat">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="2rem"
              viewBox="0 0 512 512"
            >
              <!-- Icono y texto de Support -->
            </svg>
            <p>Support</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/api/products/products">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="2rem"
              viewBox="0 0 576 512"
            >
              <!-- Icono y texto de Cart -->
            </svg>
            <p>Products</p>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a href="/api/session/logout" style="margin-left:1rem;color:white;">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="2rem"
              viewBox="0 0 512 512"
            >
              <!-- Icono y texto de Logout -->
            </svg>
            <p>Logout</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="containerPrincipal" style="text-align:center;">
  <h1>Your Purchase Details</h1>

  <p>Please keep the ticket code
    <strong>{{code}}</strong>
    for tracking purposes.</p>
  <p><strong>Purchase Date and Time:</strong> {{purchase_datetime}}</p>
  <p><strong>Purchaser Email:</strong> {{purcharser}}</p>
  <p><strong>Purchase Status:</strong> {{status}}</p>

  <h2>Products Purchased:</h2>
  <div class="container">
    <div class="row">
      {{#each products}}
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
          <div class="card" style="width: 100%;">
            <img
              class="card-img-top"
              src="{{pid.thumbail}}"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">{{pid.title}}</h5>
              <p class="card-price">${{pid.price}}</p>
              <p class="_id">Code: {{pid.code}}</p>
            </div>
            <p style="color: white;text-align:center;">{{quantity}} units</p>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
  <h2>Total Amount: ${{amount}}</h2>
  <p class="display-4">Thank you for your purchase! We appreciate your business.</p>
</div>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
></script>