<nav
  class="navbar navbar-expand-lg navbar-dark bg-primary"
  style="padding: 10px 20px;"
>
  <div class="container-fluid">
    <a href="/">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="2em"
        viewBox="0 0 576 512"
      >
        <!-- Tu logotipo o icono aquí -->
      </svg>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="2rem"
              viewBox="0 0 512 512"
            >
              <!-- Icono y texto de Menage -->
            </svg>
            <p>Home</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./realTimeProducts">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="2rem"
              viewBox="0 0 512 512"
            >
              <!-- Icono y texto de Menage -->
            </svg>
            <p>Manage</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/api/cart/user">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="2rem"
              viewBox="0 0 576 512"
            >
              <!-- Icono y texto de Cart -->
            </svg>
            <p>Cart</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/api/chat">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="2rem"
              viewBox="0 0 512 512"
            >
              <!-- Icono y texto de Support -->
            </svg>
            <p>Support</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/api/products/products">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="2rem"
              viewBox="0 0 576 512"
            >
              <!-- Icono y texto de Cart -->
            </svg>
            <p>Products</p>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a href="/profile">
            <div
              style="display: flex; justify-content:space-evenly;align-items:center;"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="2rem"
                viewBox="0 0 448 512"
              >
                <!-- Icono de perfil -->
              </svg>
            </div>
            <p style="font-size: 2.1rem;color:white;margin-right:10px;">
              {{first_name}}
              {{last_name}}
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/api/session/logout" style="margin-left:1rem;color: white">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="2rem"
              viewBox="0 0 512 512"
            >
              <!-- Icono y texto de Logout -->
            </svg>
            <p>Logout</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container mt-5" style="background-color: #0097a7;padding:20px">
  <div class="row">
    <div class="col-md-6 offset-md-3" style="color: white;">
      <div class="text-center">
        <h1>¡Gracias por tu compra! Tu ticket</h1>
      </div>
      <div class="mt-4">
        <h2>Code: {{this.code}}</h2>
        <h2>Purchase_datetime: {{this.purchase_datetime}}</h2>
        <h2>Amount:$ {{this.amount}}</h2>
        <h2>Purchaser: {{this.purcharser}}</h2>
      </div>
    </div>
  </div>
  <div style="text-align:center;margin-top:10px;">
    <a class="btn" href="/api/products/products">Seguir comprando</a>
  </div>
</div>

<!-- Agrega los scripts de Bootstrap (JS) al final del documento -->
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
></script>